version: '3'

services:
  # Database
  db:
    image: mysql:5.7
    volumes:
      - ./db_data:/var/lib/mysql
      - ./init_db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
    networks:
      - wpsite

  #phpMyAdmin
  phpmyadmin:
    depends_on:
      - db
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - '8080:80'
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: password
    networks:
      - wpsite
  # Wordpress
  wordpress:
    depends_on:
        - db
    image: wordpress:latest
    ports:
      - '8000:80'
    restart: always
    volumes: ['./wordpress/:/var/www/html',
              './KrisLindahlCom/wp-content/plugins/valtiraidx/:/var/www/html/wp-content/plugins/valtiraidx',
              './KrisLindahlCom/wp-content/plugins/valtiranotifications/:/var/www/html/wp-content/plugins/valtiranotifications',
              './KrisLindahlCom/wp-content/plugins/valtiraspot/:/var/www/html/wp-content/plugins/valtiraspot',
              './KrisLindahlCom/wp-content/themes/valtira/:/var/www/html/wp-content/themes/valtira',
              './KrisLindahlCom/wp-content/plugines/klrewprocketdelayjsexclusions/:/var/www/html/wp-content/plugins/klrewprocketdelayjsexclusions']

    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_TABLE_PREFIX: GQMnF8Bw_
    networks:
      - wpsite
networks:
  wpsite:
volumes:
  db_data: